a
{
border: 1px solid grey;
border-radius: 4px;
color: grey;
padding: 0.4em 1em 0.4em 1em;
text-align: center;
text-decoration: none;
display: inline-block;
text-transform: uppercase;
font-weight: 600;
font-size: 0.7em;
letter-spacing: 0.1em;
}
body
{
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#git:hover
{
color: #F05133;	
border-color: #F05133;
}
#news:hover
{
color: #006DF0;	
border-color: #006DF0;
}
#video:hover
{
color: #933EC5;	
border-color: #933EC5;
}
#lien:hover
{
color: #91DC5A;	
border-color: #91DC5A;
}
a img
{
	width: 2em;
	vertical-align: middle;
	padding-right: 0.5em;
	
}
footer
{
	position: fixed;
	bottom: 0px;
}
h2
{
	font-size: 1em;
	font-style: italic;
}
strong
{
	color: blue;
	font-style: italic;
}
header
{
	text-align: center;
}